.about-dinny .about-header,
.the-staff .staff-header {
  color: orangered;
  padding-left: 0.4rem;
}

.about-dinny .about-figure img,
.the-staff .staff-figure img {
  width: 100%;
}

.about-figure figcaption header,
.staff-figure figcaption header {
  color: lightsteelblue;
}

.about-figure p,
.staff-figure p {
  color: #eee;
}

.about-figure figcaption .about-footer,
.the-staff figcaption .about-footer {
  text-align: right;
}

.about-footer a {
  color: #888;
  cursor: pointer;
}
